<div class="row" ng-show="!movements.length">
    <div class="col-sm-6 jumbotron col-md-offset-3 no-movements text-center">
        <h3>Aún no tiene movimientos agregados</h3>
        <a href="#/movement" class="btn">Agregar movimiento</a>
    </div>
</div>

<div class="panel" ng-show="movements.length">
	<div class="panel-heading row">
        <div class="col-sm-6">
            <h2 class="panel-title">Últimas Transacciones</h2>
        </div>
        <div class="col-sm-6">
            <input type="text" class="pull-right" ng-model="search" placeholder="Search Movement">
        </div>
	</div><!-- /.panel-heading -->
 	
    <div class="panel-body">
    	<table>
            <tr class="row">
                <th class="col-sm-2 text-center"><h4>Transacción</h4></th>
                <th class="col-sm-2 text-center"><h4>Fecha</h4></th>
                <th class="col-sm-4 text-center"><h4>Detalle</h4></th>
                <th class="col-sm-2 text-center"><h4>Monto</h4></th>
                <th class="col-sm-2 text-center"><h4>Acciones</h4></th>
            </tr>
            <tr class="row" ng-repeat="item in movements | orderBy:null:true | filter: search" ng-init="setTotal(item)">
                <td class="col-sm-2 text-center">{{ item.id }}</td>
                <td class="col-sm-2 text-center">{{ item.date | date: MM/dd/yyyy}}</td>
                <td class="col-sm-4 text-center">{{ item.detail }}</td>
                <td class="col-sm-2 text-center">{{ item.amount | currency }}</td>
                <td class="col-sm-2 text-center"><a href="#/movementDetail/{{ item.id }}" class="btn-icon"><i class="fa fa-eye fa-lg"></i></a></td>
            </tr>
            <tr class="row">
                <td class="col-sm-2 text-center"></td>
                <td class="col-sm-2 text-center"></td>
                <td class="col-sm-4 text-center"><h4>Saldo</h4></td>
                <td class="col-sm-2 text-center">{{total | currency}}</td>
                <td class="col-sm-2 text-center"><a href="#/movement" class="btn-icon"><i class="fa fa-plus-circle fa-lg"></i></a></td>
            </tr>
        </table>
	</div><!-- /.panel-body -->
</div><!-- /.panel -->